<div ng-controller='createController' class='partial'>
	<div class='row' id='links'>
		<a href='#/dashboard'>Return to Dashboard</a>
	</div>
	<form role='form' id='create_form'>
		<div class='form-group'>
			<label for='name'class='control-label'>Recipe Box Name:</label>
			<input class='form-control' type='text' ng-model='newBox.title'>
		</div>
			<button ng-click='createBox()' class='btn'>Create</button>
	</form>
	<p>{{ errors }}</p>
	<h2 class='title_create'>myRecipe Box    <img src='/static/green_box.png' class='c_recipe_box'></h2>
</div>