<div ng-controller ='showController' class='partial'>
	<div class='row, links'>
		<a href='#/dashboard'>Return to Dashboard</a>&nbsp&nbsp&nbsp&nbsp|&nbsp&nbsp&nbsp&nbsp<a  ng-click='addRecipe()'>Add Recipe</a>
	</div>
	<h1 id='box_title'><img src='/static/chef.png' id='chef'>&nbsp&nbsp&nbsp{{ box.title }}</h1>
	<div id='info'>
		<h3><img src='/static/bread.jpg' class='icons'>&nbsp&nbspBread</h3>
		<div ng-repeat='recipe in box.recipes'>
			<ul ng-if='recipe.category=="Bread"'>
				<li><a href='{{recipe.url}}' target='_blank'>{{recipe.name}}</a></li>
				<li ng-click='addRating(recipe._id, recipe.rating)'><uib-rating ng-model='recipe.rating' max='max' read-only='isReadOnly' on-hover='hoveringOver(value)'></uib-rating></li>
				<li><a ng-click="showNotes(recipe.category, recipe.notes, recipe._id)">Notes</a></li>
				<li><a ng-click='deleteRecipe(recipe._id)'>Delete Recipe</a></li>
			</ul>
		</div>
		<div ng-show='Bread_note'>
			<form role='form'>
				<textarea  ng-bind='Bread.note' ng-model='newNote[Bread.recipe_id].notes' class='form-control' ></textarea>
				<br>
				<button class='btn' ng-click='addNote(Bread.recipe_id)'>Add Note</button>
				<button class='btn' ng-click='closeNote(Bread.category)'>Close Note</button>
			</form>
		</div>
		<h3><img src='/static/coffee_cup.png' class='icons'>&nbsp&nbspBeverage</h3>
		<div ng-repeat='recipe in box.recipes'>
			<ul ng-if='recipe.category=="Beverage"'>
				<li><a href='{{recipe.url}}' target='_blank'>{{recipe.name}}</a></li>
				<li ng-click='addRating(recipe._id, recipe.rating)'><uib-rating ng-model='recipe.rating' max='max' read-only='isReadOnly' on-hover='hoveringOver(value)'></uib-rating></li>
				<li><a ng-click='showNotes(recipe.category, recipe.notes, recipe._id)'>Notes</a></li>
				<li><a ng-click='deleteRecipe(recipe._id)'>Delete Recipe</a></li>
			</ul>
		</div>
		<div ng-show='Beverage_note'>
			<form role='form'>
				<textarea ng-bind='Beverage.note' ng-model='newNote[Beverage.recipe_id].notes' class='form-control' ></textarea>
				<br>
				<button class='btn' ng-click='addNote(Beverage.recipe_id)'>Add Note</button>
				<button class='btn' ng-click='closeNote(Beverage.category)'>Close Note</button>
			</form>
		</div>
		<h3><img src='/static/cupcake.png' class='icon'>&nbsp&nbspDessert</h3>
		<div ng-repeat='recipe in box.recipes'>
			<ul ng-if='recipe.category=="Dessert"'>
				<li><a href='{{recipe.url}}' target='_blank'>{{recipe.name}}</a></li>
				<li ng-click='addRating(recipe._id, recipe.rating)'><uib-rating ng-model='recipe.rating' max='max' read-only='isReadOnly' on-hover='hoveringOver(value)'></uib-rating></li>
				<li><a ng-click='showNotes(recipe.category, recipe.notes, recipe._id)'>Notes</a></li>
				<li><a ng-click='deleteRecipe(recipe._id)'>Delete Recipe</a></li>
			</ul>
		</div>
		<div ng-show='Dessert_note'>
			<form role='form'>
				<textarea ng-bind='Dessert.note' ng-model='newNote[Dessert.recipe_id].notes' class='form-control' ></textarea>
				<br>
				<button class='btn' ng-click='addNote(Dessert.recipe_id)'>Add Note</button>
				<button class='btn' ng-click='closeNote(Dessert.category)'>Close Note</button>
			</form>
		</div>
		<h3><img src='/static/pizza_icon.png' class='icon'>&nbsp&nbspMain Dish</h3>
		<div ng-repeat='recipe in box.recipes'>
			<ul ng-if='recipe.category=="Main"'>
				<li><a href='{{recipe.url}}' target='_blank'>{{recipe.name}}</a></li>
				<li ng-click='addRating(recipe._id, recipe.rating)'><uib-rating ng-model='recipe.rating' max='max' read-only='isReadOnly' on-hover='hoveringOver(value)'></uib-rating></li>
				<li><a ng-click='showNotes(recipe.category, recipe.notes, recipe._id)'>Notes</a></li>
				<li><a ng-click='deleteRecipe(recipe._id)'>Delete Recipe</a></li>
			</ul>
		</div>
		<div ng-show='Main_note'>
			<form role='form'>
				<textarea ng-bind='Main.note' ng-model='newNote[Main.recipe_id].notes' class='form-control' ></textarea>
				<br>
				<button class='btn' ng-click='addNote(Main.recipe_id)'>Add Note</button>
				<button class='btn' ng-click='closeNote(Main.category)'>Close Note</button>
			</form>
		</div>
		<h3><img src='/static/salad.gif' class='icon1'>&nbsp&nbspSalad</h3>
		<div ng-repeat='recipe in box.recipes'>
			<ul ng-if='recipe.category=="Salad"'>
				<li><a href='{{recipe.url}}' target='_blank'>{{recipe.name}}</a></li>
				<li ng-click='addRating(recipe._id, recipe.rating)'><uib-rating ng-model='recipe.rating' max='max' read-only='isReadOnly' on-hover='hoveringOver(value)'></uib-rating></li>
				<li><a ng-click='showNotes(recipe.category, recipe.notes, recipe._id)'>Notes</a></li>
				<li><a ng-click='deleteRecipe(recipe._id)'>Delete Recipe</a></li>
			</ul>
		</div>
		<div ng-show='Salad_note'>
			<form role='form'>
				<textarea ng-bind='Salad.note' ng-model='newNote[Salad.recipe_id].notes' class='form-control' ></textarea>
				<br>
				<button class='btn' ng-click='addNote(Salad.recipe_id)'>Add Note</button>
				<button class='btn' ng-click='closeNote(Salad.category)'>Close Note</button>
			</form>
		</div>
		<h3><img src='/static/baked_potato.gif' class='icon1'>&nbsp&nbspSide Dish</h3>
		<div ng-repeat='recipe in box.recipes'>
			<ul ng-if='recipe.category=="Side"'>
				<li><a href='{{recipe.url}}' target='_blank'>{{recipe.name}}</a></li>
				<li ng-click='addRating(recipe._id, recipe.rating)'><uib-rating ng-model='recipe.rating' max='max' read-only='isReadOnly' on-hover='hoveringOver(value)'></uib-rating></li>
				<li><a ng-click='showNotes(recipe.category, recipe.notes, recipe._id)'>Notes</a></li>
				<li><a ng-click='deleteRecipe(recipe._id)'>Delete Recipe</a></li>
			</ul>
		</div>
		<div ng-show='Side_note'>
			<form role='form'>
				<textarea ng-bind='Side.note' ng-model='newNote[Side.recipe_id].notes' class='form-control' ></textarea>
				<br>
				<button class='btn' ng-click='addNote(Side.recipe_id)'>Add Note</button>
				<button class='btn' ng-click='closeNote(Side.category)'>Close Note</button>
			</form>
		</div>
		<h3><img src='/static/soup.png' class='icons'>&nbsp&nbspSoup</h3>
		<div ng-repeat='recipe in box.recipes'>
			<ul ng-if='recipe.category=="Soup"'>
				<li><a href='{{recipe.url}}' target='_blank'>{{recipe.name}}</a></li>
				<li ng-click='addRating(recipe._id, recipe.rating)'><uib-rating ng-model='recipe.rating' max='max' read-only='isReadOnly' on-hover='hoveringOver(value)'></uib-rating></li>
				<li><a ng-click='showNotes(recipe.category, recipe.notes, recipe._id)'>Notes</a></li>
				<li><a ng-click='deleteRecipe(recipe._id)'>Delete Recipe</a></li>
			</ul>	
		</div>
		<div ng-show='Soup_note'>
			<form role='form'>
				<textarea ng-bind='Soup.note' ng-model='newNote[Soup.recipe_id].notes' class='form-control' ></textarea>
				<br>
				<button class='btn' ng-click='addNote(Soup.recipe_id)'>Add Note</button>
				<button class='btn' ng-click='closeNote(Soup.category)'>Close Note</button>
			</form>
		</div>
		<h3><img src='/static/play_dough.png' class='icon1'>&nbsp&nbspOther</h3>
		<div ng-repeat='recipe in box.recipes'>
			<ul ng-if='recipe.category=="Other"'>
				<li><a href='{{recipe.url}}' target='_blank'>{{recipe.name}}</a></li>
				<li ng-click='addRating(recipe._id, recipe.rating)'><uib-rating ng-model='recipe.rating' max='max' read-only='isReadOnly' on-hover='hoveringOver(value)'></uib-rating></li>
				<li><a ng-click='showNotes(recipe.category, recipe.notes, recipe._id)'>Notes</a></li>
				<li><a ng-click='deleteRecipe(recipe._id)'>Delete Recipe</a></li>
			</ul>	
		</div>
		<div ng-show='Other_note'>
			<form role='form'>
				<textarea ng-bind='Other.note' ng-model='newNote[Other.recipe_id].notes' class='form-control' ></textarea>
				<br>
				<button class='btn' ng-click='addNote(Other.recipe_id)'>Add Note</button>
				<button class='btn' ng-click='closeNote(Other.category)'>Close Note</button>
			</form>
		</div>
	</div>
	<h2 class='title_show'>myRecipe Box    <img src='/static/green_box.png' class='c_recipe_box'></h2>
</div>