<div ng-controller ='updateController' class='partial'>
	<h1><img src='/static/chef.png' id='chef_update'>&nbsp&nbsp&nbsp{{ box.title }}</h1>
	<div id='new_recipe'>
		<form role='form'>
			<div class='form-group'>
				<label class='control-label' for='name'>Recipe Name:</label>
				<input class='form-control' type='text' ng-model='addRecipe.name'>
			</div>
			<div class='form-group'>
				<label for='url' class='control-label'>Url for Recipe</label>
				<input class='form-control' type='text' ng-model='addRecipe.url'>
			</div>
			<div class='form-group'>
				<label for='category' class='control-label'>Recipe Category</label>
				<select ng-model='addRecipe.category' class='form-control'>
					<option value='Bread'>Bread</option>
					<option value='Beverage'>Beverage</option>
					<option value='Dessert'>Dessert</option>
					<option value='Main'>Main Dish</option>
					<option value='Salad'>Salad</option>
					<option value='Side'>Side Dish</option>
					<option value='Soup'>Soup</option>
					<option value='Other'>Other</option>
				</select>
			</div>
			<input type='hidden' ng-value='addRecipe.cookbook_id = box._id'>
			<button ng-click='createRecipe()' class='btn'>Add Recipe</button>
		</form>
		<a href='#/show/{{ box._id }}'>Return to {{ box.title }}</a>
		<h4>{{ errors }}</h4>
	</div>
	<div id='title_update'>
		<h2>myRecipe Box &nbsp&nbsp<img src='/static/green_box.png' id='u_recipe_box'></h2>
	</div>
</div>